.theme-blue .theme-container,
.theme-blue [data-radix-popper-content-wrapper] {
  --primary: var(--color-sky-700);
  --primary-foreground: var(--color-sky-50);

  --ring: var(--color-sky-100);

  @variant dark {
    --primary: var(--color-sky-700);
    --primary-foreground: var(--color-sky-50);

    --ring: var(--color-sky-900);
  }
}

.theme-green .theme-container,
.theme-green [data-radix-popper-content-wrapper] {
  --primary: var(--color-emerald-600);
  --primary-foreground: var(--color-emerald-50);

  --ring: var(--color-emerald-400);

  @variant dark {
    --primary: var(--color-emerald-600);
    --primary-foreground: var(--color-emerald-50);

    --ring: var(--color-emerald-900);
  }
}

.theme-orange .theme-container,
.theme-orange [data-radix-popper-content-wrapper] {
  --primary: var(--color-amber-600);
  --primary-foreground: var(--color-amber-50);

  --ring: var(--color-amber-400);

  @variant dark {
    --primary: var(--color-amber-700);
    --primary-foreground: var(--color-amber-50);

    --ring: var(--color-amber-900);
  }
}

.theme-red .theme-container,
.theme-red [data-radix-popper-content-wrapper] {
  --primary: var(--color-rose-600);
  --primary-foreground: var(--color-rose-50);

  --ring: var(--color-rose-400);

  @variant dark {
    --primary: var(--color-rose-800);
    --primary-foreground: var(--color-rose-50);
    --ring: var(--color-rose-900);
  }
}

.theme-violet .theme-container,
.theme-violet [data-radix-popper-content-wrapper] {
  --primary: var(--color-violet-700);
  --primary-foreground: var(--color-violet-50);

  --ring: var(--color-violet-400);

  @variant dark {
    --primary: var(--color-violet-700);
    --primary-foreground: var(--color-violet-50);

    --ring: var(--color-violet-900);
  }
}
