---
import ColorButton from "./ColorButton.astro";
---

<div class='flex flex-wrap gap-2 justify-center mt-5 mx-4'>
  <ColorButton color='zinc' />
  <ColorButton color='red' />
  <ColorButton color='orange' />
  <ColorButton color='yellow' />
  <ColorButton color='green' />
  <ColorButton color='blue' />
  <ColorButton color='violet' />
</div>
