---
import { site } from "@/contsts";
import Link from "@/ui/Link.astro";
---

<footer>
  <section
    class='py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25'
  >
    <div
      class='max-w-screen-md mx-auto px-4 grid grid-cols-1 sm:grid-cols-2 gap-3'
    >
      <div
        class='font-semibold flex items-center justify-center sm:justify-start gap-2 z-50'
      >
        <img src='/favicon.svg' alt='' class='h-6 w-6' />
        <Link href='/'>{site.title}</Link>
      </div>

      <div class='flex justify-center sm:justify-end z-50 text-sm'>
        &#169; {new Date().getFullYear()} | All rights reserved
      </div>
    </div>
  </section>
</footer>
